@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Hover underline effect */
.hover-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f97316; /* Orange color for underline */
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
